body
{
	background-color:lightcyan
}

header
{
	background-color:darkslategrey;
	height:100px;
	width:90%;
	margin:0 auto;
	display:flex;
	align-items:center;
	justify-content:center;
}

header h1
{
	font-size:2.5em
}

main
{
	background-color:silver;
	width:90%;
	margin:0 auto;	
}


#main_pic
{
	position:relative;
	display:inline-block;
}
#first_pic_text
{
	position:absolute;
	left:50%;
	top:50%;
	font-size:3.5rem;
	text-align:center;
	color:darkred;
	transform:translate(-50%,-50%);
	text-decoration:underline
}


#first_pic
{
	display:flex;
	justify-content:center
}

#first_pic img
{
	width:90%;
	margin-top:1em
}

#second_pic
{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:1rem 2rem;
}

#second_pic img
{
	width:250px;
	height:250px;
}
#second_pic p
{
	margin:0 1rem;
}

h2
{
	margin:1rem 1rem;
	background-color:darkred;
	padding:1rem 0;
	text-align:center;
	font-size:2rem;
}

h3
{
	margin:1rem 1rem;	
}

p,ul,ol,li,#first_table
{
	margin:1rem 2rem;	
}



table ,tr ,td
{
	border:solid grey;
}

table
{
	width:100%
}

footer
{
	background-color:darkslategrey;
	width:90%;
	margin:0 auto;
	text-align:right;
	padding:1rem 0;
}